.buttonRemove {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
}

.buttonRemove:hover {
  background-color: #d87093;
  transition: 0.2s;
}

.buttonRemove_small {
  width: 2.5rem;
  height: 2.5rem;
}

.buttonRemove_big {
  width: 6rem;
  height: 6rem;
}
